.ecommerceContainer {
  min-height: 100vh;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fdfffc;

  .ecommerceFirstContainer {
    height: 90vh;
    width: 100%;
    border: 1px solid #fdfffc;
    font-size: 2.5rem;

    h1 {
      color: #011627;
      margin-top: 30%;
      padding-left: 5%;
      opacity: 1;
      animation-name: fadeIn;
      animation-duration: 2s;
      opacity: 1;
    }

    p {
      color: #2ec4b6;
      padding-left: 5%;
      opacity: 1;
      animation-name: fadeIn;
      animation-duration: 2s;
    }
  }

  .ecommerceSecondContainer {
    height: 90vh;
    width: 100%;
    background-image: url('../public/ecommerce.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    animation-name: fadeIn;
    animation-duration: 2s;
    opacity: 1;
  }

  .ecommerceThirdContainer {
    min-height: 80vh;
    width: 100%;
    border: 1px solid #fdfffc;
    color: #011627;
    padding: 10%;
    animation-name: fadeIn;
    animation-duration: 2s;
    opacity: 1;

    h3 {
      padding-top: 5%;
      font-size: 1.5rem;
      font-weight: bold;
    }

    p {
      font-size: 1.2rem;
    }

    .techStackContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: auto;
      width: 100%;
      flex-wrap: wrap;
      padding-top: 5%;

      img {
        width: 100px;
        height: 100px;
      }
    }
  }

  .ecommerceFourthContainer {
    min-height: 80vh;
    width: 100%;
    border: 1px solid #fdfffc;
    color: #011627;
    padding: 10%;
    animation-name: fadeIn;
    animation-duration: 2s;
    opacity: 1;

    p {
      font-size: 1.2rem;
    }
  }

  .ecommerceFifthContainer {
    min-height: 80vh;
    width: 100%;
    border: 1px solid #fdfffc;
    color: #011627;
    padding: 10%;
    animation-name: fadeIn;
    animation-duration: 2s;
    opacity: 1;

    p {
      font-size: 1.2rem;
    }
  }

  .ecommerceSixthContainer {
    min-height: 80vh;
    width: 100%;
    border: 1px solid #fdfffc;
    color: #011627;
    padding: 10%;
    animation-name: fadeIn;
    animation-duration: 2s;
    opacity: 1;

    p {
      font-size: 1.2rem;
    }

    .buttonContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-self: flex-start;
      margin-top: 10%;
      font-weight: 900;

      .buttonGithub {
        width: 30%;
        color: #e63462;
        border: 1px solid #e63462;
        align-content: space-between;
        margin: auto;

        &::before {
          content: '';
          position: absolute;
          width: 0%;
          top: 0;
          left: 0;
          height: 100%;
          width: 0;
          z-index: -1;
        }

        &:hover {
          transition: all 1.5s;
          width: 35%;
          // background-color: rgba(#e63462, 0.3);
          letter-spacing: 1px;
          font-weight: bold;
          box-shadow: 0px 0px 5px #e63462;
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  .ecommerceContainer {
    min-height: 100vh;
    min-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fdfffc;

    .ecommerceFirstContainer {
      height: 90vh;
      width: 100%;
      font-size: 1.5rem;

      h1 {
        margin-top: 40%;
      }

      p {
        font-size: 1.2rem;
        padding-left: 5%;
      }
    }

    .ecommerceSecondContainer {
      height: 90vh;
      width: 100%;
    }

    .ecommerceThirdContainer {
      min-height: 80vh;
      width: 100%;
      padding: 5%;

      h3 {
        padding-top: 5%;
        font-size: 1.2rem;
      }

      p {
        font-size: 1.1rem;
      }

      .techStackContainer {
        margin: auto;
        width: 100%;

        img {
          width: 50px;
          height: 50px;
        }
      }
    }

    .ecommerceFourthContainer {
      min-height: 80vh;
      width: 100%;
      padding: 5%;

      p {
        font-size: 1.1rem;
      }
    }

    .ecommerceFifthContainer {
      min-height: 80vh;
      width: 100%;
      padding: 5%;

      p {
        font-size: 1.1rem;
      }
    }

    .ecommerceSixthContainer {
      min-height: 80vh;
      width: 100%;
      padding: 5%;

      p {
        font-size: 1.1rem;
      }

      .buttonContainer {
        margin-top: 20%;
        .buttonGithub {
          width: 50%;
          margin: auto;
        }
      }
    }
  }
}

@media all and (min-width: 768px) and (max-width: 1100px) {
  .ecommerceContainer {
    min-height: 100vh;
    min-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fdfffc;

    .ecommerceFirstContainer {
      height: 90vh;
      width: 100%;
      font-size: 2.5rem;

      h1 {
        margin-top: 40%;
      }

      p {
        font-size: 2rem;
        padding-left: 5%;
      }
    }

    .ecommerceSecondContainer {
      height: 90vh;
      width: 100%;
    }

    .ecommerceThirdContainer {
      min-height: 80vh;
      width: 100%;
      padding: 5%;

      h3 {
        padding-top: 5%;
        font-size: 1.5rem;
      }

      p {
        font-size: 1.2rem;
      }

      .techStackContainer {
        margin: auto;
        width: 100%;

        img {
          width: 75px;
          height: 75px;
        }
      }
    }

    .ecommerceFourthContainer {
      min-height: 80vh;
      width: 100%;
      padding: 5%;

      p {
        font-size: 1.2rem;
      }
    }

    .ecommerceFifthContainer {
      min-height: 80vh;
      width: 100%;
      padding: 5%;

      p {
        font-size: 1.2rem;
      }
    }

    .ecommerceSixthContainer {
      min-height: 80vh;
      width: 100%;
      padding: 5%;

      p {
        font-size: 1.2rem;
      }

      .buttonContainer {
        margin-top: 20%;
        .buttonGithub {
          width: 50%;
          margin: auto;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
