.container {
  min-height: 100vh;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  flex-direction: row;
  background-color: #011627;
  font-family: 'Jost', sans-serif;
  padding-top: 0;
  padding-bottom: 0;

  .containerInfo {
    display: none;
  }
}

@media all and (max-width: 767px) {
  .container {
    height: 100vh;
    padding-left: 0%;
    padding-right: 0%;

    .containerInfo {
      display: block;
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 0;
      z-index: 1;
      color: 1px solid #fff;
      color: #fff;
      -webkit-animation: action 0.7s infinite alternate;
      animation: action 1s infinite alternate;
    }
  }
}

@media all and (min-width: 768px) and (max-width: 1100px) {
  .container {
    height: 100vh;
    padding-left: 0%;
    padding-right: 0%;
    display: flex;
    flex-direction: row;
    background-color: #011627;
    font-family: 'Jost', sans-serif;
    padding-top: 0;
    padding-bottom: 0;

    .containerInfo {
      display: block;
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 0;
      z-index: 1;
      color: 1px solid #fff;
      color: #fff;
      -webkit-animation: action 0.7s infinite alternate;
      animation: action 1s infinite alternate;
    }
  }
}

@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
