.indexContainer {
  min-height: 100vh;
  width: 50%;
  padding: 0 0.5rem;
  background-image: url('../public/bg-image.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  opacity: 1;
  animation-name: fade-in;
  animation-duration: 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
